#title{
    background-color: #ff4c68;
    padding bottom:5% ;
    padding top:3%;
}
p{
    color: grey;
}
.container-fluid{
    padding: 10% 3%;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    padding-left: 18px;
    padding-right: 18px;

}
.title-image{
    width:40%;
    transform: rotate(25deg);
    
    position:absolute;
}
.fas{
    color: #ff4c68;
    width:60px;
    height: auto;
    
}
.fas:hover{
    color:blue;
} 

#features{
    text-align: center;
    padding:7% 20% ;
    
    
}
.fas{
    margin-bottom: 10px;
}
#testimonials{
    padding-top: 180px;
    text-align: center;
    padding-bottom: 100px;
    background-color:peachpuff ;
    color:white;
}
.testimonial-image{
   
    width:10%;
    border-radius: 100%;

}
#press{
    background-color:#ff4c68 ;
    padding-bottom: 3%;
}
.logo-image{
    text-align: center;
    padding-right: 3rem;
    
    
}
#pricing{
    text-align: center;
}

#features{
    background-color: white;
    position: relative;
}
#cta{
    text-align: center;
    background-color:#ff4c68 ;
    padding-bottom: 100px;
    color: white;
    
}
.btn{
    margin-left: 10px;
    margin-top:20px ;
}
#footer{
    text-align:center;
    padding-top: 100px;
}

